@font-face {
font-family: 'LinkFont'; 
src: url('DejaVuSerif.ttf') format('truetype'); 
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'ParagraphFont'; 
src: url('HindGuntur-Regular.ttf') format('truetype'); 
font-weight: normal;
font-style: normal;
}

body {
background-color: rgba(255, 255, 240);
margin:20px;
cursor: url('WhiteGrey-Cat-Paw-PNG.png'), auto;
}
a {
color: white; 
text-decoration: none; 
transition: all 0.3s ease; 
font-family: 'LinkFont', sans-serif;
}
a, button, input[type="submit"], input[type="button"] 
{
    cursor:url('WhiteGrey-Cat-Paw-PNG.png'), auto;
}
p {
background-color: rgba(107, 142, 35, 0.5);
border-radius: 20px;
padding: 15px;
font-family: 'ParagraphFont', sans-serif;
text-align: justify;
color:white;
}
h3{
font-size: 40px;
color: green; 
font-family: 'LinkFont', sans-serif;
margin:10px;
}
.container {
display: flex;              
align-items: center;
gap: 20px; 		
}
.container img {
width: 20%;
height: auto;
border-radius: 20px;
display: block;
}
.image-container{
position: relative;
display: flex; 
}
.image-text-container {
position: relative;
margin: -20px;
}
.text-overlay_left {
position: absolute;
font-size: 40px;
top: 4%;
left: 10%;
transform: translate(-50%, -50%);
color: white;
text-shadow: 2px 2px 4px rgba(0,0,0,0.7);

}
.text-overlay_right {
position: absolute;
font-size: 40px;
top: 4%;
left: 87%;
transform: translate(-50%, -50%);
color: white;
text-shadow: 2px 2px 4px rgba(0,0,0,0.7);

}
.iframe-container {
overflow: hidden;
border-radius: 20px; 
width: 80%; 
height: 630px;
border: none; 
display: block; 
margin: auto;
cursor:url('WhiteGrey-Cat-Paw-PNG.png'), auto;
}
